body {
    font-size: 14px;
    font-family: sans-serif;
    padding: 20px;
}
td, th {
    font-size: 12px;
    font-family: sans-serif;
    vertical-align: top;
}

th {
    text-align: left;
}

a {
    color: #003399;
    text-decoration: none;
    background-color: #EEEEFF;
}
a:visited {
    color: #0055BB;
}
a:hover {
    background-color: #FFFFFF;
}

div#navbar {
    margin: 0px 0px 1em 0px;
    padding: 1em;
    /* border: 1px solid black; */
    background-color: #F0F0F0;
    font-size: 12px;
}

div#navbar a {
    padding: 0.5em 1em;
}

div.error {
    border: 1px solid #660000;
    color: #660000;
    font-weight: bold;
    background-color: #FFEEEE;
    padding: 1em;
    margin: 1em;
}

div.success {
    border: 1px solid #006600;
    color: #006600;
    font-weight: bold;
    background-color: #EEFFEE;
    padding: 1em;
    margin: 1em;
}


div.ticket {
    border: 1px solid #000066;
    margin: 0.5em 0px;
    padding: 1em;
}

div.ticket .title {
    font-size: 16pt;
    font-weight: bold;
    margin: 0px 0px 0.5em;
    color: #003399;
}

div.ticket td {
    padding: 0px 1em 0.25em;
}

div.ticket .description-title {
    color: #999999;
    border-bottom: 1px solid #999999;
}

div.description {
    white-space: pre-line;
}

table.list {
    border-collapse: collapse;
}

table.list td {
    border: 1px solid #999999;
    padding: 0.1em 0.5em;
}

table.list tr.odd-row td {
    background-color: #EEEEEE;
}

div.comment {
    border-top: 1px solid #999999;
    padding: 1em;
}

div.comment .text {
    padding: 1em;
    white-space: pre-line;
}

div.comment .header {
    color: #666699;
}