body {
    font-size: 14px;
    font-family: sans-serif;
    padding: 20px;
}
td, th {
    font-size: 12px;
    font-family: sans-serif;
    vertical-align: top;
}

td.form-label {
    padding-top: 0.3em;
}

th {
    text-align: left;
}

a {
    color: #003399;
    text-decoration: none;
    background-color: #E6EEFF;
}
a:visited {
    color: #0055BB;
}
a:hover {
    background-color: #FFFFFF;
}

a.para {
    color: #66AABB;
}

div#navbar {
    margin: 0px 0px 1em 0px;
    padding: 1em;
    /* border: 1px solid black; */
    background-color: #F0F0F0;
    font-size: 12px;
}

div#navbar a {
    padding: 0.5em 1em;
}

div.error, div.success, div.notice, .new {
    display: none;
}

div.error, div.success, div.notice {
    border: 1px solid;
    padding: 1em;
    margin: 1em 0px;
    font-weight: bold;
}

div.error {
    border-color: #660000;
    color: #660000;
    background-color: #FFEEEE;
}

div.success {
    border-color: #006600;
    color: #006600;
    background-color: #EEFFEE;
}

div.notice {
    border-color: #666600;
    color: #666600;
    background-color: #FFFFEE;
}

div#content {
    min-height: 500px;
}

div#footer {
    font-size: 10px;
    text-align: center;
    margin-top: 5em;
}


div.ticket {
    border: 1px solid #000066;
    margin: 0.5em 0px;
    padding: 1em;
}

div.ticket .title {
    font-size: 16pt;
    font-weight: bold;
    margin: 0px 0px 0.5em;
    color: #003399;
}

div.ticket td {
    padding: 0px 1em 0.25em;
}

div.ticket .description-title {
    color: #999999;
    border-bottom: 1px solid #999999;
}

div.description {
    white-space: pre-line;
}

table.list {
    border-collapse: collapse;
}

table.list td, table.list th {
    border: 1px solid #CCCCCC;
    padding: 0.1em 0.5em;
}

table.list tr.odd td {
    background-color: #EEEEEE;
}

div.comment, div.ticket-delta {
    border-top: 1px solid #999999;
    padding: 0px 1em 1em 0px;
}

div.comment .text, div.ticket-delta .text {
    padding: 1em 1em 1em 1em;
    white-space: pre-line;
}

div.comment .header, div.ticket-delta .header {
    color: #666699;
}

div.ticket-delta ul {
    margin: 0px;
    padding: 0px 0px 0px 1em;
}

.text p {
    margin-bottom: 0px;
}
.text p:first-child {
    margin-top: 0px;
}



table#blacklisted-words {
    margin: 1em;
}
table#blacklisted-words td {
    padding-right: 1em;
}


table.sortable thead tr th {
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.sortable thead tr .sort-up {
    background-image: url( '/images/asc.png' );
    padding-right: 2em;
}
table.sortable thead tr .sort-down {
    background-image: url( '/images/desc.png' );
    padding-right: 2em;
}
table.sortable thead tr .sort-down, table.sortable thead tr .sort-up {
    background-color: #99BBFF;
}

